<h1>Book Your Flight</h1>
<h2>You selected:</h2>
Flight ID: <%= @selected_flight.id %></br>
Origin: <%= @selected_flight.origin.code %></br>
Destination: <%= @selected_flight.destination.code %></br>
Departure Time: <%= @selected_flight.departure_time %></br>

<h2>Add passenger info below:</h2>
<%= render 'booking_form' %>

